<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite" parallel="tests" thread-count="2">
    <test verbose="2" preserve-order="true" name="chrome test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="TestCases.FirstTestCase">
                <methods>
                    <include name="testCase"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="firefox test">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="TestCases.FirstTestCase">
                <methods>
                    <include name="testCase"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>