<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="4">
    <test verbose="2" preserve-order="true"
          name="Chrome Test">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="TestCases.Elements.ElementsTestCases">
                <methods>
                    <include name="tc01"/>
                    <include name="tc02"/>
                </methods>
            </class>
            <class name="TestCases.FirstTestCase">
                <methods>
                    <include name="testCase"/>
                    <include name="testCase01"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="firefox Test">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="TestCases.Elements.ElementsTestCases">
                <methods>
                    <include name="tc01"/>
                    <include name="tc02"/>
                </methods>
            </class>
            <class name="TestCases.FirstTestCase">
                <methods>
                    <include name="testCase"/>
                    <include name="testCase01"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>